<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790709530897-930osjod95vbsbrodb2dj5l2b9rb77m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790709530897-930osjod95vbsbrodb2dj5l2b9rb77m2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790709530897-36ufu1t3dltma345jrhf9c8ul8vudel1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUg0NRcBKhgcPYUaHlbXSV7OA5eWp54pg</string>
	<key>GCM_SENDER_ID</key>
	<string>790709530897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abg.homeservicepro</string>
	<key>PROJECT_ID</key>
	<string>homeservices-3ecfb</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservices-3ecfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790709530897:ios:ac87844be43a154171dcb0</string>
</dict>
</plist>